{#
/**
 * vars:
 *    item :
 *      - form GithubUserSearchForm
 */
#}

{#
// Form container.
#}

{{ attach_library('github_user_search/pagination') }}


<div class="form--inline form-inline clearfix">
	{{ item.form }}
</div>
{#
// ajax response container.
#}
<div id="user-search-results-count" class="row"></div>
<div id="user-search-results" class="row"></div>

