{#
/**
 * @file
 * GitHub User Search Form block.
 *
 * Available variables:
 * - item: A list of elements:
 *   - form: The output of the GitHub User Search Form.
 */
#}

{% spaceless %}
  <div class="form--inline form-inline clearfix">
    {{ item.form }}
  </div>

  <div id="user-search-results-count" class="row"></div>
  <div id="user-search-results" class="row"></div>
{% endspaceless %}
